{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login auth</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

	<div class="wrapper">
	  <a href="index.php" id="logo"><img src="{% static 'pics/logo-text.png' %}" alt="image"></a>

	    <!-- Login Form -->
	    <form class="form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
	      <input type="text" id="login" class=" form-control" name="login" placeholder="Username">
	      <input type="password" id="password" class=" form-control" name="password" placeholder="Password">
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
	      <input type="submit" class=" btn btn-large col" value="Log In">
	    </form>

        <p>Create your account <a href="signup.php">Here!</a></p>


	</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>