{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
{% if profile %}
<h1>{% trans "Update your profile" %}</h1>
{% endif %}
{% if user == organization_user.user %}{% trans "This is you" %}!{% endif %}

                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                        <!-- Modal -->
                                            <div class="modal fade" id="invite_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                          <h5 class="modal-title" id="exampleModalLabel">Invite User</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <form method="POST">
                                            {% csrf_token %}
                                          <div class="modal-body">
                                            <div class="form-group">
                                                {{form.as_p}}
                                              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
                                            </div>
                                          <div class="modal-footer border-top-0 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                          </div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                            {% block js %}
                                            <script type="text/javascript">
                                            $(window).on('load', function() {
                                                $('#invite_Modal').modal('show');
                                            });
                                        </script>
                                        {% endblock %}

        {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger" style="margin:10px">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

{% endblock %}
</div>
</div>



</body>
</html>