{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

	<div class="wrapper">
	  <a href="index.php" id="logo"><img src="{% static 'pics/logo-text.png' %}" alt="image"></a>
{% block content %}
    <h3>{% trans "Password Reset" %}</h3>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="text-align: center;">{% blocktrans %}We have sent you an e-mail. <br> Contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock %}
	</div>



<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>

