{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Main-body start -->
<div class="main-body">
	<div class="page-wrapper">
		<!-- Page-header start --><!-- Page-header end -->

		<!-- Page-body start -->
		<div class="page-body">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="ml-5 mt-3 mb-3">
							<h5><strong>LOGS</strong></h5>
						</div>
						<div class="col-lg-12 reports-hvac-en">
							<div class="reports-dropdown">
								<h5><strong>HVAC DATA SETS</strong></h5>
								<hr>
								<form id="searchForm" method="post" data-rooms-url="{% url 'ajax_load_districts' %}" data-cities-url="{% url 'ajax_load_cities' %}">
									{% csrf_token %}
									<div class="col-lg-12 ml-0">
									<div class="row">
										<div class="col-lg-5">
											<div class="form-field mb-3 mt-3">
												<label for="building">Building</label>
												<select name="building" class="form-control" id="id_class_name">
													<option >Select Building</option>
													{% for j in business_id_data %}

													<option value="{{ j }}">{{ j }}</option>

													{% endfor %}
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Floor</label>
												<select name="floors" class="form-control" id="id_board" value="floors">
													<option  value="" selected>
														Select Floor
													</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">From</label>
												<input name="from_date" class="form-control" type="date" id="myDateInput" max="">

												</input>
											</div>
										</div>
										<div class="col-lg-2">

										</div>
										<div class="col-lg-5">
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Room</label>
												<select name="rooms" class="form-control" id="id_rooms">
													<option value="" selected>
														Select Room
													</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Vents Location</label>
												<select class="form-control" name="vents">
													<option value="fcu_in">Fan Coil Unit</option>
													<option value="ahu_out">Air Handling Unit</option>
													<option value="sg_1_1">Supply Grill</option>
													<option value="eg1_1">Exit Grill</option>
													<option>Supply Fan</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">To</label>
												<input class="form-control" name="to_date" type="date" id="myDateInput_2" max="" />
											</div>
										</div>
									</div>

								</div>
									<div class="mb-2"></div>
									<div class="text-right">
									<button type="submit" class="btn btn-primary">Generate Logs</button>
									</div>
								</form>
							</div>
						</div>
						<div class="mb-4"></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12">
                                                <!-- HTML5 Export Buttons table start -->
                                                <div class="card">
                                                    <div class="card-header table-card-header">
                                                        <h5>All Records</h5>
                                                        <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                        <li><i class="feather minimize-card icon-minus"></i></li>
                                                        <li><i class="feather icon-trash-2 close-card"></i></li>
                                                    </ul>
                                                </div>
                                                    </div>
                                                    <div class="card-block">
                                                        {{plot_div|safe}}
                                                    </div>
                                                </div>
                                                <!-- HTML5 Export Buttons end -->
                                            </div>
			</div>
		</div>
	</div>

	<script>
                                        $("#id_class_name").change(function () {
                                          var url = $("#searchForm").attr("data-cities-url");
                                          var categoryId = $(this).val();

                                          $.ajax({
                                            url: url,
                                            data: {
                                              'category': categoryId
                                            },
                                            success: function (data) {
                                                console.log(data);
                                              $("#id_board").html(data);

                                            }

                                          });

                                        });
                                        $("#id_board").change(function () {
                                          var url = $("#searchForm").attr("data-rooms-url");
                                          var floorId = $(this).val();

                                          $.ajax({
                                            url: url,
                                            data: {
                                              'floor': floorId
                                            },
                                            success: function (data) {
                                                console.log(data);
                                              $("#id_rooms").html(data);

                                            }

                                          });

                                        });

                                      </script>
	<script>
		  var today = new Date().toISOString().split('T')[0];
		  document.getElementById("myDateInput").setAttribute("max", today);
	</script>
	<script>
		  var today = new Date().toISOString().split('T')[0];
		  document.getElementById("myDateInput_2").setAttribute("max", today);
	</script>
	<!-- Page-body end -->
</div>
</div>
{% endblock %}
</body>
</html>