{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                            <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start --><!-- Page-header end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="card" style="height: 675px;">
                                                      <div class="card-header table-card-header text-center">
                                                          <div class="mb-5"></div>
                                                          <h4>This Page Is Under Construction</h4>
                                                      </div>
                                            </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                    <!-- Page-body end -->
                        </div>
                </div>
    {% endblock %}
</body>
</html>