{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Main-body start -->
<div class="main-body">
	<div class="page-wrapper">
		<!-- Page-header start --><!-- Page-header end -->

		<!-- Page-body start -->
		<div class="page-body">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="ml-5 mt-3 mb-3">
							<h5><strong>Reporting</strong></h5>
						</div>
						<div class="col-lg-12 reports-hvac-en">
								<div class="col-lg-12">
									<button type="button" class="btn btn-default waves-effect float-right" data-toggle="modal" data-target="#default-Modal">Send Email</button>
									<div id="default-Modal" class="modal fade" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
                                                <div class="modal-dialog">

                                                    <div class="login-card card-block login-card-modal">
                                                            <div class="text-center">
                                                                <img style="width:15%;" src="{% static 'libraries\assets\images\logo-bg.png' %}" alt="logo.png">
                                                            </div>
                                                                <form action="{% url 'send_table_email' %}" method="post">
                                                    {% csrf_token %}
                                                            <div class="card m-t-15">
                                                                <div class="auth-box card-block">
                                                                <div class="row m-b-20">
                                                                    <div class="col-md-12">
                                                                        <h3 class="text-center txt-primary">Email Configuration.</h3>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="input-group">
																<input type="email" id="recipient-email" name="email" placeholder="Email:" class="form-control"/>
                                                                    <span class="md-line"></span>
                                                                </div>
                                                                <div class="input-group">
																<textarea type="text" id="recipient-message" name="message" placeholder="Message:"  class="form-control"></textarea>
                                                                    <span class="md-line"></span>
                                                                </div>
                                                                <div class="row m-t-25 text-left">
                                                                    <div class="col-md-12">
                                                                        <div class="checkbox-fade fade-in-primary">
                                                                            <label>
																				<input type="checkbox" class="form-control"/>
                                                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                                                <span class="text-inverse">PDF</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="checkbox-fade fade-in-primary">
                                                                            <label>
                                                                               <input type="checkbox" class="form-control"/>
                                                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                                                <span class="text-inverse">CSV</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-t-15">
                                                                    <div class="col-md-12">
                                                                        <button type="submit" id="email-send-button" class="btn btn-primary btn-md btn-block waves-effect text-center">SUBMIT</button>
                                                                    </div>
                                                                </div>
                                                                <hr>

                                                            </div>
                                                            </div>
                                                        <!-- end of form -->
                                                        </form>
                                                    </div>

                                                </div>
                                    </div>
								</div>
							</div>
							<div class="reports-dropdown">
								<h5><strong>HVAC DATA SETS</strong></h5>
								<hr>
								<form id="searchForm" method="post" data-rooms-url="{% url 'ajax_load_districts' %}" data-cities-url="{% url 'ajax_load_cities' %}">
									{% csrf_token %}
									<div class="col-lg-12 ml-0">
									<div class="row">
										<div class="col-lg-5">
											<div class="form-field mb-3 mt-3">
												<label for="building">Building</label>
												<select name="building" required class="form-control" id="id_class_name">
													<option selected value="">Select Building</option>
													{% for j in business_id_data %}

													<option value="{{ j }}">{{ j }}</option>

													{% endfor %}
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Floor</label>
												<select name="floors" required class="form-control" id="id_board" value="floors">
													<option  value="" selected>
														Select Floor
													</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">From</label>
												<input name="from_date" required class="form-control" type="date" id="myDateInput" max="">

												</input>
											</div>
										</div>
										<div class="col-lg-2">

										</div>
										<div class="col-lg-5">
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Room</label>
												<select name="rooms" required class="form-control" id="id_rooms">
													<option value="" selected>
														Select Room
													</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">Vents Location</label>
												<select required class="form-control" name="vents">
													<option value="" selected>
														Select Vents
													</option>
													<option value="fcu_in">Fan Coil Unit</option>
													<option value="ahu_out">Air Handling Unit</option>
													<option value="sg1_1">Supply Grill</option>
													<option value="eg1_1">Exit Grill</option>
													<option value="sf1_2">Supply Fan</option>
												</select>
											</div>
											<div class="form-field mb-3 mt-3">
												<label for="password-input">To</label>
												<input required class="form-control" name="to_date" type="date" id="myDateInput_2" max="" />
											</div>
										</div>
									</div>

								</div>
									<div class="mb-2"></div>
									<div class="text-right">
									<button type="submit" class="btn btn-primary">Generate Report</button>
                                        <div class="mb-2"></div>
									</div>
								</form>
							</div>
						</div>
						<div class="mb-4"></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12">
                                                <!-- HTML5 Export Buttons table start -->
                                                <div class="card">
                                                    <div class="card-header table-card-header">
                                                        <h5>All Records</h5>
                                                        <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                        <li><i class="feather minimize-card icon-minus"></i></li>
                                                        <li><i class="feather icon-trash-2 close-card"></i></li>
                                                    </ul>
                                                </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="dt-responsive table-responsive">
															{% if sim_sg %}
															<table id="basic-btn" class="table table-striped table-bordered nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>DateTime</th>
                                                                        <th>Business</th>
                                                                        <th>Buildings</th>
                                                                        <th>Floors</th>
                                                                        <th>Rooms</th>
																		{% if sensor == 'sg1_1' %}
																		<th>SG1_1</th>
																		<th>SG2_2</th>
																		<th>SG3_2</th>
																		<th>SG4_2</th>
																		<th>SG5_2</th>
																		<th>SG6_2</th>
																		{% elif sensor == 'sf1_2' %}
																		<th>SF1_2</th>
																		<th>SF2_2</th>
																		{% elif sensor == 'fcu_in' %}
																		<th>FCU_IN</th>
																		{% elif sensor == 'ahu_out' %}
																		<th>AHU_OUT</th>
																		{% elif sensor == 'eg1_1' %}
																		<th>EG</th>
																		{% endif %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for i in sim_sg %}
                                                            <tr>
                                                                    <td>{{ i.timestamp }}</td>
                                                                    <td>{{ i.business }}</td>
                                                                    <td>{{ i.building }}</td>
                                                                    <td>{{ i.floor }}</td>
                                                                    <td>{{ i.room }}</td>
																	{% if sensor == 'sg1_1' %}
                                                                    <td>{{ i.data.sg1_1 }}</td>
                                                                    <td>{{ i.data.sg2_2 }}</td>
                                                                    <td>{{ i.data.sg3_2 }}</td>
                                                                    <td>{{ i.data.sg4_2 }}</td>
                                                                    <td>{{ i.data.sg5_2 }}</td>
                                                                    <td>{{ i.data.sg6_2 }}</td>
																	{% elif sensor == 'sf1_2' %}
																	<th>{{ i.data.sf1_2 }}</th>
																	<th>{{ i.data.sf2_2 }}</th>
																	{% elif sensor == 'fcu_in' %}
																	<th>{{ i.data.fcu_in }}</th>
																	{% elif sensor == 'ahu_out' %}
																	<th>{{ i.data.ahu_out }}</th>
																	{% elif sensor == 'eg1_1' %}
																	<th>{{ i.data.eg1_1 }}</th>
																	{% endif %}
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                            </table>
															{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- HTML5 Export Buttons end -->
                                            </div>
			</div>
		</div>
	</div>

	<script>
                                        $("#id_class_name").change(function () {
                                          var url = $("#searchForm").attr("data-cities-url");
                                          var categoryId = $(this).val();

                                          $.ajax({
                                            url: url,
                                            data: {
                                              'category': categoryId
                                            },
                                            success: function (data) {
                                                console.log(data);
                                              $("#id_board").html(data);

                                            }

                                          });

                                        });
                                        $("#id_board").change(function () {
                                          var url = $("#searchForm").attr("data-rooms-url");
                                          var floorId = $(this).val();

                                          $.ajax({
                                            url: url,
                                            data: {
                                              'floor': floorId
                                            },
                                            success: function (data) {
                                                console.log(data);
                                              $("#id_rooms").html(data);

                                            }

                                          });

                                        });

                                      </script>
	<script>
		  var today = new Date().toISOString().split('T')[0];
		  document.getElementById("myDateInput").setAttribute("max", today);
	</script>
	<script>
		  var today = new Date().toISOString().split('T')[0];
		  document.getElementById("myDateInput_2").setAttribute("max", today);
	</script>


<script>
    $(document).ready(function() {
  // ... other code ...

  // Handle email sending
  $('#email-send-button').click(function() {
    // Get recipient email address from form
    var recipientEmail = $('#recipient-email').val();
    var recipientMessage = $('#recipient-message').val();
    console.log(recipientEmail);
    console.log(recipientMessage);
    // Send email
    $.ajax({
      url: '/send-table-email/',
      type: 'POST',
      data: {
        recipient_email: recipientEmail,
        recipient_message: recipientMessage
      },
      success: function(data) {
        // Email sent successfully, close modal dialog and show success message
        $('#email-modal').modal('hide');
        toastr.success('Table sent to ' + recipientEmail + ' successfully!');
      },
      error: function(xhr, status, error) {
        // Error sending email, show error message
        toastr.error('Error sending table: ' + error);
      }
    });
  });
} );
</script>
<script>
  const form = document.getElementById('searchForm');
  const submitButton = document.getElementById('submit');
  const dropdowns = form.querySelectorAll('select');
  const inputs = form.querySelectorAll('input');
  const requiredFields = form.querySelectorAll('[required]');
  form.addEventListener('input', () => {
    let isDropdownValid = true;
    isFormValid = true;

    inputs.forEach(input => {
      if (!input.value) {
        isFormValid = false;
      }
    });

    dropdowns.forEach(dropdown => {
      if (!dropdown.value) {
        isDropdownValid = false;
      }
    });

    requiredFields.forEach(field => {
      if (!field.value) {
        isFormValid = false;
        field.classList.add('form-control-danger');
      } else {
        field.classList.remove('form-control-danger');
      }
    });

    submitButton.disabled = !isDropdownValid;
    submitButton.disabled = !isFormValid;
    console.log("DIS");
  });
</script>
	<!-- Page-body end -->
</div>
</div>
{% endblock %}
</body>
</html>