{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
                            <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="tab-bar mb-3">
                                    <div class="flex-contianer" style="display: flex; justify-content: space-between">
                                        <div class="left-btn box-inner-title">
                                            <ul class="tab-bar-ul">
                                                {% for post_category in post_category|slice:":1" %}
                                                <li><a href="{% url 'energy' post_category.pk %}"><button class="btn-primary btn-sm mt-1">Summary</button></a></li>
                                                <li><a href="{% url 'energy-detail' post_category.pk %}"><button class="btn-primary btn-sm active mt-1">Energy Usage</button></a></li>
                                                <li><a href="{% url 'co2' post_category.pk %}"><button class="btn-primary btn-sm mt-1">CO2 Usage</button></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="right-btn">
                                            <ul class="tab-bar-ul">
<!--                                                <li><button href="#" class="btn-primary btn-sm mt-1">List</button></li>-->
<!--                                                <li><button href="#" class="btn-primary btn-sm mt-1">New Business</button></li>-->


                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <!-- Page-header end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                                <div class="card">
                                        <div class="card-header table-card-header">
                                            <h4>ENERGY DASHBOARD</h4>
                                <hr>
                                <div class="mb-1"></div>
                            </div><!--card ends here---->

                        </div>
                        </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="row text-center">
                                                    <div class="col-lg-12">
                                                        <div class="card" style="height:960px;">
                                                            <div class="card-header table-card-header">
                                                                <div class="colors {% plotly_class name="energy_usuage" %}" style="height:100%;width: 100%;">
                                                              {% plotly_app name='energy_usuage' ratio=0.65 %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        </div>
    {% endblock %}
</body>
</html>