{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
                            <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="tab-bar mb-3">
                                    <div class="flex-contianer" style="display: flex; justify-content: space-between">
                                        <div class="left-btn box-inner-title">
                                            <ul class="tab-bar-ul">
                                                <li><a href=""><button class="btn-primary btn-sm mt-1">Summary</button></a></li>
                                                {% for post_category in post_category|slice:":1" %}
                                                <li><a href="{% url 'energy-detail' post_category.pk %}"><button class="btn-primary btn-sm mt-1">Energy Usage</button></a></li>
                                                {% endfor %}
                                                <li><a href=""><button class="btn-primary btn-sm mt-1">CO2 Usage</button></a></li>
                                            </ul>
                                        </div>
                                        <div class="right-btn">
                                            <ul class="tab-bar-ul">
<!--                                                <li><button href="#" class="btn-primary btn-sm mt-1">List</button></li>-->
<!--                                                <li><button href="#" class="btn-primary btn-sm mt-1">New Business</button></li>-->


                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <!-- Page-header end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                                <div class="card">
                                        <div class="card-header table-card-header">
                                            <h4>ENERGY DASHBOARD</h4>
                                <hr>
                                <div class="mb-1"></div>
                            </div><!--card ends here---->

                        </div>
                        </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <h6>Cost Predicted</h6>
                                                                <div style="width: 100%; height: 370px background: #1f335a;">
<canvas id="oilChart" width="600" height="400"></canvas>
                                                                    <p class="text-center mt-4 white">Total Cost:  &#xa3 {{total_cost|floatformat:2}}</p>
                                                                </div></div>
                                                        </div>
                                                    </div>
                                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                                                    <script>
                                                        var oilCanvas = document.getElementById("oilChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var oilData = {
    labels: [
        "Electricity",
        "Gas",
    ],
    datasets: [
        {
            data: [{{cost_elec|floatformat:2}}, {{cost_gas|floatformat:2}}],
            backgroundColor: [
                "#57e2c2",
                "#fae93a",
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'doughnut',
  data: oilData
});
                                                    </script>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <h6>Change In Cost</h6>
                                                                <div style="width: 100%; height: 370px background: #1f335a;">
<canvas id="oilChart2" width="600" height="400"></canvas>
                                                                    <p class="text-center mt-4 white">Change In Cost:  &#xa3 {{total_cost|floatformat:2}}</p>
                                                                </div></div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        var oilCanvas = document.getElementById("oilChart2");

var oilData = {
    labels: [
        "",
        "",
    ],
    datasets: [
        {
            data: [{{total_cost_cic_lm|floatformat:2}}, {{total_cost_cic|floatformat:2}}],
            backgroundColor: [
                "#57e2c2",
                "#fae93a",
            ]
        }],

};

var pieChart = new Chart(oilCanvas, {
  type: 'bar',
  data: oilData,
options: {
         legend: {
            display: false
         },
    	scales: {
        	yAxes: [{
            	ticks: {
                	beginAtZero: true
            	}
        	}]
    	}
	}

});
                                                    </script>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <img style="width: 100%; height: 370px" src="{% static 'img/usage_estimate.png' %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <img style="width: 100%; height: 370px" src="{% static 'img/active_usage.png' %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <img style="width: 100%; height: 370px" src="{% static 'img/energy_intensity.png' %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <div class="card-header table-card-header">
                                                                <img  style="width: 100%; height: 370px" src="{% static 'img/carbon_footprint.png' %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        </div>
    {% endblock %}
</body>
</html>