<!DOCTYPE html>
<html>
<head>
	<title>Login auth</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<div class="wrapper">
	  <a href="index.php" id="logo"><img src="img/logo.png" alt="image"></a>

	    <!-- Login Form -->
	    <form class="form" method="POST">
	    	
	      <input type="text" id="login" class=" form-control" name="email" placeholder="Username">
	      <input type="password" id="password" class=" form-control" name="password" placeholder="Password">
	      <input type="submit" name="login" class=" btn btn-large col" value="Log In">
	    </form>

        <p>Create your account <a href="signup.php">Here!</a></p>

	  
	</div>

<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>

</body>
</html>