{% extends 'base.htm' %}
{% load static %}
{% load widget_tweaks %}
{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
                            <!-- Main-body start -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
<!--                                <div class="page-header">-->
<!--                                    <div class="row align-items-end">-->
<!--                                        <div class="col-lg-8">-->
<!--                                            <div class="page-header-title">-->
<!--                                                <div class="d-inline">-->
<!--                                                    <h4>Business Customers</h4>-->
<!--                                                    <span>This is a list of all the business customers.</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-lg-4">-->
<!--                                            <div class="page-header-breadcrumb">-->
<!--                                                <ul class="breadcrumb-title">-->
<!--                                                    <li class="breadcrumb-item">-->
<!--                                                        {% if user.is_superuser %}-->
<!--                                                        <a href=""> <i class="feather icon-home"></i></a>-->
<!--                                                        {% else %}-->
<!--                                                        <a href=""> <i class="feather icon-home"></i></a>-->
<!--                                                        {% endif %}-->
<!--                                                    </li>-->
<!--                                                    <li class="breadcrumb-item"><a href="#">View Business Customers</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <!-- Page-header end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12">
                                                <div class="row">
                                                    <!-- order-visitor start -->
                                                    <div class="col-md-2">
                                                        <div class="card text-center text-white bg-c-green">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Temperature AHU</h6>
                                                                <h4 id="temp_ahu" class="m-t-10 m-b-10">
                                                                    <i id="temp_arrow" class="{{ temp_class_name }}"></i>
                                                                    {{change_in_temp|floatformat:2}}%</h4>
                                                                <p class="m-b-0">Daily Average</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="card text-center text-white bg-c-pink">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Comfort</h6>
                                                                <h4 class="m-t-10 m-b-10"><i class="feather icon-arrow-up m-r-15"></i>2%</h4>
                                                                <p class="m-b-0">Daily Average</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="card text-center text-white bg-c-lite-green">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Energy Consumption</h6>
                                                                <h4 class="m-t-10 m-b-10"><i class="{{ energy_class_name }}"></i>{{change_in_energy|floatformat:2}}%</h4>
                                                                <p class="m-b-0">Daily Average</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="card text-center text-white bg-c-yellow">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Carbon Emissions</h6>
                                                                <h4 class="m-t-10 m-b-10"><i class="feather icon-arrow-down m-r-15"></i>3.5%</h4>
                                                                <p class="m-b-0">Daily Average</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                            <div class="col-sm-6 col-md-8">
                                                <div class="card">
                                                    <div class="card-header table-card-header">
                                                        <h6>Vents Data</h6>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="feather icon-maximize full-card"></i></li>
<!--                                                                <li><i class="feather icon-minus minimize-card"></i></li>-->
<!--                                                                <li><i class="feather icon-trash-2 close-card"></i></li>-->
                                                            </ul>
                                                        </div>
                                                        <div class="chart" id="fcu9">
<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>
<!-- HTML -->
<div id="graph" style="height:355px;">
        <select  id="colorselector" name="select" class="form-control">
            <option value="blue">Temperature</option>
            <option value="red">Flow Rate</option>
        </select>

            <div class="colors {% plotly_class name="temp_vent_data" %}" style="height:100%;width: 100%;" id="blue">
          {% plotly_app name='temp_vent_data' ratio=0.65 %}
       </div>


</div>
                                                <script>
                                                    $(function() {
  $('#colorselector').change(function(){
    $('.colors').hide();
    $('#' + $(this).val()).show();
  });
});
                                                </script>

                                                        </div>
                                                    </div>
                                                </div>
                                                            </div>

                                            <div class="col-sm-6 col-md-4" style="margin-top:-137px;">
                                                <div class="card">
                                                       <div class="card-header table-card-header">
                                                            <div class="flex-contianer" style="display: flex; justify-content: space-between">
                                        <div class="left-btn box-inner-title">
                                            <h4>Alerts</h4>
                                        </div>
                                    </div>

                                                            <hr>
                                                            <div class="mb-1"></div>
                                                        <div class="col-sm-12 col-md-12">
                                                            <a href="javascript:void(0)">
                                                                <span class="pcoded-badge label label-danger">HIGH</span>
                                                                <span class="pcoded-mtext">Occupancy is reducing due to change in ventilation
                                                                    The Diamond - 3rd Floor
                                                                    Assigned to frank@thecompany.com
                                                                </span>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <span class="pcoded-badge label label-warning">MED</span>
                                                                <span class="pcoded-mtext">Thermal comfort is higher than expected
                                                                    The Diamond - 3rd Floor
                                                                    Assigned to james@thecompany.com
                                                                </span>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <span class="pcoded-badge label label-warning" style="background:saddlebrown;">LOW</span>
                                                                <span class="pcoded-mtext">Occupancy is reducing due to change in ventilation
                                                                    The Diamond - 3rd Floor
                                                                    Assigned to james@thecompany.com
                                                                </span>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <span class="pcoded-badge label label-warning" style="background:saddlebrown;">LOW</span>
                                                                <span class="pcoded-mtext">Occupancy is reducing due to change in ventilation
                                                                    The Diamond - 3rd Floor
                                                                    Assigned to james@thecompany.com
                                                                </span>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <span class="pcoded-badge label label-warning" style="background:saddlebrown;">LOW</span>
                                                                <span class="pcoded-mtext">Occupancy is reducing due to change in ventilation
                                                                    The Diamond - 3rd Floor
                                                                    Assigned to james@thecompany.com
                                                                </span>
                                                            </a>

                                                        </div>
                                                      </div>
                                                </div>
                                                            </div>

                                            <div class="col-sm-6 col-md-8">
                                            <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="card" style="height:465px;" >
                                                    <div class="card-header">
                                                        <h5>Energy Usage</h5>
                                                        {% comment %}
                                                            <div class="colors {% plotly_class name="energy" %}" style="height:100%;width: 100%;">
                                                              {% plotly_app name='energy' ratio=0.65 %}
                                                          </div>
                                                        {% endcomment %}
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="feather icon-maximize full-card"></i></li>
<!--                                                                <li><i class="feather icon-minus minimize-card"></i></li>-->
<!--                                                                <li><i class="feather icon-trash-2 close-card"></i></li>-->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
        <div class="chart-container" style="width:100%;height:352px;">
            <canvas id="my_Chart"></canvas>
        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                                </div>


                                                                    <script>
                                                                 var socket = new WebSocket('ws://localhost:8000/ws/graph1/');
                                                                    socket.onmessage = function(e){
                                                                        var djangoData = JSON.parse(e.data);
                                                                        console.log(djangoData);
                                                                        document.querySelector('.blob_svg').innerHTML = djangoData.blob_output;
                                                                    }
                                                                </script>
                                                                <script>
                                                                 var socket = new WebSocket('ws://localhost:8000/ws/graph2/');
                                                                    socket.onmessage = function(e){
                                                                        var djangoData = JSON.parse(e.data);
                                                                        console.log(djangoData);
                                                                        document.querySelector('.floor_svg').innerHTML = djangoData.floor_output;
                                                                    }
                                                                </script>

                                                                                                                                     <div class="col-sm-6 col-md-4">
                                                <div class="card" style="height:615px;margin-top:-150px;">
                                                      <div class="card-header table-card-header">
                                                            <div class="flex-contianer" style="display: flex; justify-content: space-between">
                                        <div class="left-btn box-inner-title">
                                            <select  id="svgselector" name="select" class="form-control">
                                                <option value="floorplan" selected>Floorplan</option>
                                                <option value="seating">Seating</option>
                                            </select>
                                        </div>
                                        <script>
                                              $(function() {
                                              $('#svgselector').change(function(){
                                                $('.svg_div').hide();
                                                $('#' + $(this).val()).show();
                                              });
                                            });
                                        </script>
                                        <div class="right-btn">
                                            <select class="form-control">
                                                <option>Temperature</option>
                                                <option>Flow Rate</option>
                                            </select>
                                        </div>
                                    </div>

                                                            <hr>
                                                            <div class="mb-1"></div>
                                                        <div class="col-sm-12 col-md-12">
                                                        <div id="floorplan" class="svg_div floor_svg">
                                                            {{floor_output|safe}}
                                                        </div>
                                                        <div id="seating" class="svg_div blob_svg" style="display:none;">
                                                            {{blob_output|safe}}
                                                        </div>

                                                        </div>
                                                      </div>
                                            </div>
                                                </div>

                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                       <script>
                         var socket = new WebSocket('ws://localhost:8000/ws/graph/');
                            socket.onmessage = function(e){
                                var djangoData = JSON.parse(e.data);
                                console.log(djangoData);
                                document.querySelector('#temp_ahu').innerHTML = "<i id=\"temp_arrow\" class=\"\"></i>" + djangoData.avg + "%" ;
                                document.getElementById("temp_arrow").className = djangoData.class_name;
                            }
                        </script>
                        <script>
                         var socket = new WebSocket('ws://localhost:8000/ws/graph1/');
                            socket.onmessage = function(e){
                                var djangoData = JSON.parse(e.data);
                                console.log(djangoData);
                                document.querySelector('.blob_svg').innerHTML = djangoData.blob_output;
                            }
                        </script>
                        <script>
                         var socket = new WebSocket('ws://localhost:8000/ws/graph2/');
                            socket.onmessage = function(e){
                                var djangoData = JSON.parse(e.data);
                                console.log(djangoData);
                                document.querySelector('.floor_svg').innerHTML = djangoData.floor_output;
                            }
                        </script>
    {% endblock %}
</body>
</html>
